**/node_modules/
**/.env
2 out of 25 - How to deploy backend code in production/
3 out of 25 - How to connect frontend and backend in javascript  Fullstack Proxy and CORS/
4 out of 25 - Taking backend to next level/
5 out of 25 - Data modelling for backend with mongoose/
6 out of 25 - Ecommerce and Hospital management Data modelling/
7 out of 25 - How to setup a professional backend project/
